{% extends "layout.html" %}

{% block title %}Doors{% endblock %}

{% block main %}
<h3>Door Inspections</h3>
<div style= "text-align: left;">
    <p > 1. Input the location or identity of the door being inpected.</p>
    <p>2. Selection menu is 30 criteria for inspection.</p>
    <p>3. For each item the door fails to pass, log the fault which be recorded on results page.</p>
    <p>4. A door could fail on more than one criteria, navigate back to the Doors page to complete the assessment see 1. above</p>
    <p>4. When the assessment for the door is complete, enter the location or idendity of the door see 1. above or go to another asset class</p>
</div>
        <form action="{{ url_for('doors') }}" method="post">
            <input autocomplete="off" autofocus name="door" placeholder="Door Location & Identity" type="text">
            <select name="door_fault">
                <option disabled selected>Door Inspection Criteria</option>
                {% for door_fault in door_faults %}
                    <option value="{{door_fault['fault_id'] }}">{{  door_fault['inspect'] }}</option>
                {% endfor %}
            </select>
            <br><input autocomplete="off" autofocus name="comment" placeholder="Additional comment " type="text"><br>
            <button type="submit">Log door fault</button>
        </form>
{% endblock %}
