{% extends "layout.html" %}

{% block title %}
    Fire Inspection
{% endblock %}
<!-- Where to input the assets into the data base, where to store
     the recommentations for the failed assets or is it just a generic response -->
{% block main %}
<div style= "text-align: left;">
    <h2>Instructions:</h2>
    <p> You are logged in for your registered building.</p>
    <p> Please select the assest class for inspection from the Navbar above.</p>
    <p> For all assests in the fire inspection the defects will be summarised on the results page.</p>
    <p> A final report will document the defects and the action/s to make compliant.</p>
</div>
{% endblock %}
